<div class="title"> {{ "features.e2e.title" | translate }}</div>
<div class="subtitle"> {{ "features.e2e.chronology.title" | translate }}</div>
<div class="text"> {{ "features.e2e.chronology.content" | translate }}</div>
<detail-session-content config="e2e"></detail-session-content>
<div class="title">  {{ "features.e2e.tree.title" | translate }}</div>
<div class="text"> {{ "features.e2e.tree.content" | translate }}</div>
<img src="assets/icons/features/e2e/tree/tree-screenshot.png" alt="Tree" class="screenshot" />
<app-tree></app-tree>
