<table>
  <thead>
  <tr>
    <th>Stack d'INSPECT</th>
    <th>Dépendance</th>
    <th>Version</th>
    <th>Utilité</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>inspect-app</td>
    <td>Angular</td>
    <td>v16+</td>
    <td>Framework de développement frontend</td>
  </tr>
  <tr>
    <td>inspect-app</td>
    <td>Node.js</td>
    <td>v20+</td>
    <td>Runtime pour le build et les outils</td>
  </tr>
  <tr>
    <td>inspect-app</td>
    <td>Mermaid</td>
    <td>v11.x</td>
    <td>Génération de diagrammes</td>
  </tr>
  <tr>
    <td>inspect-app</td>
    <td>ngx-translate</td>
    <td>v16.x</td>
    <td>Internationalisation des textes</td>
  </tr>
  <tr>
    <td>inspect-core</td>
    <td>Jakarta</td>
    <td>v2.1.0.x</td>
    <td>API pour l’envoi d’emails</td>
  </tr>
  </tbody>
</table>
