<app-header></app-header>
@if(!menuVisible()) {
  <ng-icon name="matArrowMenuOpenRound" class="doc-menu-icon hidden" (click)="toggleMenuVisibility()"></ng-icon>
} @else {
  <aside class="doc-menu" [class.doc-menu--hidden]="!menuVisible()">
    <div class="doc-menu__panel">
      <div class="doc-menu__dropdown">
        <div class="doc-menu__header">
          <h2 class="doc-menu__title">Menu</h2>
          <button type="button" class="doc-menu__expand-btn" (click)="toggleAllSections()">
            {{ areAllSectionsOpen() ? 'Replier' : 'Déplier' }}
          </button>
        </div>
        <nav class="doc-menu__links" aria-label="Menu documentation">
          <!--          Table of contents-->
          @for (item of docMenuItems; track item.label) {
            <div class="doc-menu__item">
              @if (item.children?.length) {
                <div class="doc-menu__link-row">
                  <a
                    class="doc-menu__link doc-menu__link--main"
                    [routerLink]="item.link"
                    routerLinkActive="doc-menu__link--active"
                    [routerLinkActiveOptions]="{ exact: item.link === '/' }"
                  >
                    @if (item.icon) {
                      <ng-icon [name]="item.icon" class="doc-menu__icon"></ng-icon>
                    }
                    <span class="doc-menu__label">{{ item.label | translate }}</span>
                  </a>
                  <button
                    type="button"
                    class="doc-menu__link doc-menu__link--parent"
                    [attr.aria-expanded]="isSectionOpen(item.label)"
                    (click)="toggleSection(item.label)"
                    aria-label="Afficher les sous-menus"
                  >
                    <svg
                      class="doc-menu__chevron"
                      [class.doc-menu__chevron--open]="isSectionOpen(item.label)"
                      viewBox="0 0 24 24"
                      aria-hidden="true"
                    >
                      <path d="M7 10l5 5 5-5" />
                    </svg>
                  </button>
                </div>
              } @else {
                <a
                  class="doc-menu__link"
                  [routerLink]="item.link"
                  routerLinkActive="doc-menu__link--active"
                  [routerLinkActiveOptions]="{ exact: item.link === '/' }"
                >
                  @if (item.icon) {
                    <ng-icon [name]="item.icon" class="doc-menu__icon"></ng-icon>
                  }
                  <span class="doc-menu__label">{{ item.label | translate }}</span>
                </a>
              }
              @if (item.children?.length && isSectionOpen(item.label)) {
                <div class="doc-menu__sublinks">
                  @for (child of item.children; track child.label) {
                    <a
                      class="doc-menu__sublink"
                      [routerLink]="child.link"
                      routerLinkActive="doc-menu__sublink--active"
                      [routerLinkActiveOptions]="{ exact: true }"
                    >
                      {{ child.label | translate }}
                    </a>
                  }
                </div>
              }
            </div>
          }
        </nav>
        <ng-icon name="matArrowMenuCloseRound" class="doc-menu-icon display" (click)="toggleMenuVisibility()"></ng-icon>
      </div>
    </div>
  </aside>
}
<main>
  <div class="main">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
