<!-- intro -->

<div class="intro" xmlns="http://www.w3.org/1999/html">
  <img class="intro__logo" src="assets/icons/description/jarvis.svg" alt="Jarvis" />

  <div class="intro__title">
    <span >IN</span>
    <span class="intro__desc">tegrated </span>
    <span >S</span>
    <span class="intro__desc">ystem </span>
    <span >P</span>
    <span class="intro__desc">erformance </span>
    <span >E</span>
    <span class="intro__desc">valuation </span>
    <span >C</span>
    <span class="intro__desc">ommunication </span>
    <span >T</span>
    <span class="intro__desc">racking </span>
    <br>
  </div>

  <span class="intro__text">{{ "home.content" | translate }}</span>
  <h2 class="intro__title"> {{ "home.description.advantages" | translate }} </h2>
  <div class="intro__grid">
    <article class="intro__grid-item intro__grid-item--left">
      <img [src]="'assets/icons/description/observability.png'" alt="Observability" class="intro__grid-image" />
      <h2>{{ "home.description.observability.title" | translate }}</h2>
      <span class="intro__grid-content">{{ "home.description.observability.content" | translate }}</span>
    </article>

    <article class="intro__grid-item intro__grid-item--middle">
      <img [src]="'assets/icons/description/analytics.png'" alt="Analytics" class="intro__grid-image" />
      <h2>{{ "home.description.analytics.title" | translate }}</h2>
      <span class="intro__grid-content">{{ "home.description.analytics.content" | translate }}</span>
    </article>

    <article class="intro__grid-item intro__grid-item--right">
      <img [src]="'assets/icons/description/time.png'" alt="Time" class="intro__grid-image" />
      <h2>{{ "home.description.time.title" | translate }}</h2>
      <span class="intro__grid-content">{{ "home.description.time.content" | translate }}</span>
    </article>


    <article class="intro__grid-item intro__grid-item--left intro__grid-item--bottom">
      <img [src]="'assets/icons/description/e2e.png'" alt="endToEnd" class="intro__grid-image" />
      <h2>{{ "home.description.e2e.title" | translate }}</h2>
      <span class="intro__grid-content">{{ "home.description.e2e.content" | translate }}</span>
    </article>

    <article class="intro__grid-item intro__grid-item--right intro__grid-item--middle">
      <img [src]="'assets/icons/description/uniformize.png'" alt="uniform" class="intro__grid-image" />
      <h2> {{ "home.description.uniformize.title" | translate }}</h2>
      <span class="intro__grid-content"> {{ "home.description.uniformize.content" | translate }}</span>
    </article>

    <article class="intro__grid-item intro__grid-item--right intro__grid-item--bottom">
      <img [src]="'assets/icons/description/heartbeat.png'" alt="heartbeat" class="intro__grid-image" />
      <h2> {{ "home.description.heartbeat.title" | translate }}</h2>
      <span class="intro__grid-content"> {{ "home.description.heartbeat.content" | translate }}</span>
    </article>
  </div>

  <!--  Button to route to /components to get technical informations-->
  <button type="button" class="intro__redirect" routerLink="/components">
    <ng-icon name="heroArrowLeftStartOnRectangleMicro" class="intro__redirect_icon"></ng-icon>
    {{ "home.redirect.services" | translate }}
  </button>

  <div class="intro__title">{{ "home.profiles.title" | translate }} </div>
  <span class="intro__text">{{ "home.profiles.description" | translate }}</span>
  <span class="intro__grid">
    <article class="intro__grid-item intro__grid-item--left">
      <img [src]="'assets/icons/technical.png'" alt="Technical" class="intro__grid-image" />
      <div class="intro__title"> {{ "home.profiles.technical.title" | translate }}</div>
      <span class="intro__grid-content">{{ "home.profiles.technical.content" | translate }}</span>
    </article>

    <article class="intro__grid-item intro__grid-item--right">
      <img [src]="'assets/icons/functional.png'" alt="Functional" class="intro__grid-image" />
      <div class="intro__title"> {{ "home.profiles.functional.title" | translate }}</div>
      <span class="intro__grid-content">{{ "home.profiles.functional.content" | translate }}</span>
    </article>
  </span>

  <!--  Button to route to /components to get user cases-->
  <button type="button" class="intro__redirect" routerLink="/components">
    <ng-icon name="heroArrowLeftStartOnRectangleMicro" class="intro__redirect_icon"></ng-icon>
    {{ "home.redirect.profiles" | translate }}
  </button>



  <!--  Redirection to next tab-->
  <section class="intro__scroll-trigger" (click)="goToInstallation()" >
    <div class="intro__scroll-badge">
    </div>
    <div class="tui-scroll-indicator" [class.tui-scroll-indicator--active]="isTransitioning()">
      <div class="tui-scroll-indicator__wheel"></div>
    </div>
  </section>

</div>
