<section class="installation__scroll-trigger installation__scroll-trigger--up"
         [class.is-visible]="isScrollUpVisible()"
         (click)="goToInstallation()">
  <div class="tui-scroll-indicator tui-scroll-indicator--up" [class.tui-scroll-indicator--active]="isTransitioning()">
    <div class="tui-scroll-indicator__wheel"></div>
  </div>
</section>

<div class="title"> {{ "compatibilities.title" | translate }} </div>
<table>
  <thead>
  <tr>
    <th>Stack d'INSPECT</th>
    <th>Dépendance</th>
    <th>Version</th>
    <th>Utilité</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>inspect-app</td>
    <td>Angular</td>
    <td>v16+</td>
    <td>Framework de développement frontend</td>
  </tr>
  <tr>
    <td>inspect-app</td>
    <td>&#64;oneteme/inspect-ng-collector</td>
    <td>v1.3+</td>
    <td>Collecteur front</td>
  </tr>
  <tr>
    <td>inspect-app</td>
    <td>jquery-echarts</td>
    <td>v0.0+</td>
    <td>Génération des KPI</td>
  </tr>
  <tr>
    <td>inspect-core</td>
    <td>Java</td>
    <td>v21.x</td>
    <td> - </td>
  </tr>
  <tr>
    <td>inspect-core</td>
    <td>Jakarta</td>
    <td>v2.1.x</td>
    <td>API pour l’envoi d’emails</td>
  </tr>
  <tr>
    <td>inspect-server</td>
    <td> - </td>
    <td> - </td>
    <td> _ </td>
  </tr>
  </tbody>
</table>

<section class="installation__scroll-trigger" (click)="goToArchitecture()">
  <div class="tui-scroll-indicator tui-scroll-indicator--down" [class.tui-scroll-indicator--active]="isTransitioning()">
    <div class="tui-scroll-indicator__wheel"></div>
  </div>
</section>
